<div class="card">
    <div class="card-body">
        <div class="didv">
            <app-guset-r>
            </app-guset-r>
            <app-dine-r>
            </app-dine-r>
            <app-bed-r>
            </app-bed-r>
            <app-kit-r>
            </app-kit-r>
        </div>
        <div class="didv">
            <app-master-r>
            </app-master-r>
            <app-pray-r>
            </app-pray-r>
            <app-bed-r>
            </app-bed-r>
        </div>
    </div>
  </div>